$fullhd-enabled: false;
$gap: 12px;
$notification-padding: .5rem .8rem;
$radius: 6px;
$size-1: 1.602rem;
$size-2: 1.424rem;
$size-3: 1.266rem;
$size-4: 1.125rem;
$size-5: 1rem;
$size-6: .889rem;
$size-7: .79rem;
$tabs-link-active-color: $black;
$tabs-toggle-link-radius: 0;
$tabs-toggle-link-active-color: $black;
